.header_group{
    width: 100%;
    display: table;
    table-layout: fixed;
}
.title{
    display: table-cell;
    text-align: center;
    width: 100px;
}
.join{
    display: table-cell;
    position:absolute;
    margin-left: 280px;
}
a{
    text-decoration-line: none;
}
.empty{
    display: table-cell;
    border: 1px solid red;
}
.search{
    text-align: center;
}
.category{
    border: 1px solid red;
    width: 230px;
    text-align: center;
}